<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.rembrant"
        version     = "1.0.0" >

    <name>Rembrant</name>

    <description>
        Esta aplicación es un directorio de las redes sociales más usadas, que te permitirá también ubicar a las personas más cercanas. 
    </description>
    <author href="https://build.phonegap.com" email="equiporembrant@gmail.com">
        Equipo Rembrant
    </author>
	
    <access origin="*" />

	<icon src="img/logo.png" />
	
	<preference name="permissions" value="none" />
	
	<preference name="orientation" value="portrait" />
	
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
</widget>