<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.karma"
        version     = "1.0.0" >

    <name>CrowdConfession</name>

    <description>
        Esta aplicación te permite revelar tus pensamientos y opiniones anónimamente. (Confesionario Virtual) 
    </description>

    <author href="https://build.phonegap.com" email="jsbeleno@gmail.com">
        Juan Sebastián Beleño Díaz
    </author>
	
    <access origin="*" />

	<icon src="img/logo.png" />
	
	<preference name="permissions" value="none" />
	
	<preference name="orientation" value="portrait" />
	
	<gap:plugin name="org.apache.cordova.device" />
</widget>